.tutorial {
  width: 600px;
  text-align: center;
  margin: auto;
}

figure.image {
  display: flex;
  justify-content: center;
  background-color: black;
}

figure .image img {
  width: 10rem;
}

.notification {
  margin-top: 20px !important;
}

.results {
  max-height: 500px;
  overflow-y: scroll;
}

.title .icon {
  margin-left: 15px;
}

.hero {
  margin-bottom: 20px;
}

.forms {
  display: flex;
  justify-content: space-around;
}

.dropdown-item {
  display: flex;
  align-items: center;
  height: 60px;
}

.dropdown-item img {
  height: 50px;
  margin-right: 10px;
}

.media .media-content p {
  height: 6.4rem;
  overflow-y: scroll;
}

.media .media-content h1 {
  height: 5rem;
  margin-bottom: 0;
}
.media .media-content h4 {
  height: 3rem;
}

#left-summary a,
#right-summary a {
  display: inline;
  margin: 0 auto;
  font-size: 1.3rem;
  letter-spacing: 0.4rem;
  font-weight: 600;
  color: black;
  margin-top: 0.2rem;
}

#left-summary a:hover,
#left-summary a:active,
#right-summary a:hover,
#right-summary a:active {
  text-decoration: none;
  color: darkorange;
}

#left-summary a:link,
#left-summary a:visited,
#right-summary a:link,
#right-summary a:visited {
  text-decoration: none;
}
